<ul class="catalog_nav">
    <li>
        <span class="catalog_nav_show">
            <span class="sprite sprite-cat"></span>
            <a href="/account/">Личный кабинет</a>
        </span>
    </li>

    <li>
        <span class="catalog_nav_show">
            <span class="sprite sprite-cat_2"></span>
            <a href="#">Мои видео</a>
        </span>
        <ul class="catalog_nav2">
            <li><a class="" href="#">Видео</a></li>
            <li><a class="" href="#">Альбомы</a></li>
        </ul>
    </li>
</ul>