{% extends "base.html" %}

{% block content %}
    <div class="video_box">
    <div class="player">
        <img src="/{{ video.preview }}" alt=""/>
    </div>

    <div class="navigation">
        <h3>{{ video.title }}</h3>
        <ul>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Глубинные тайны</span>
                    <span class="time">3:16</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Авианосец Чудеса инженерии - National Geographic</span>
                    <span class="time">3:16</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Секретные материалы древности</span>
                    <span class="time">3:16</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="information">
        <div class="heading">
            <a href="/catalog/{{ categ.url }}/{{ video.url }}/"><h1>{{ video.title }}</h1></a>
            <span class="view_count">{{ video.view_count }}</span>
            <div style="clear: both"></div>
        </div>

        <div class="social">
            <ul class="social_links">
                <li>vk</li>
                <li>ok</li>
            </ul>
            <div class="karma">
                <span class="plus">12</span>
                <span class="minus">3</span>
            </div>
        </div>

        {{ video.text|safe }}

    </div>

</div>
<div class="comment_box">
<span class="comment_count">Все комментраии({{ comments.count }})</span>
	<div class="comment_wrapper">
		<div class="my_comment_avatar"></div>
		<div class="area_wrapper">
			<textarea name="my_comment" id="my_comment" cols="30" rows="10" placeholder="Напишите Ваш комментарий здесь..."></textarea>
		</div>
	</div>
    {% for comment in comments %}
	<div class="comment_wrapper">
		<div class="my_comment_avatar" ></div>
		<div class="comment_content">
			<a class="comment_nick" href="">{{ comment.nick }}</a>
			<a class="comment_repost" href="">{{ comment.nick }}</a>
			<span class="comment_time">15 минут</span>
			<div class="comment_wrapper_content">
				<p class="comment_text" contenteditable="true">{{ comment.text }}</p>
{#                {{ comment.content }}#}
				<img class="comment_video"/>
				<img class="comment_video"/>
			</div>
			<a class="comment_like" href="">Нравится</a>
			<a class="comment_answer" href="">Ответить</a>
			<a class="comment_share" href="">Поделиться</a>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}



