{% extends "base.html" %}
{% load catalog_left_menu %}

{% block left %}
<div class="left_box">
    {% if categ.parent %}
    {% catalog_left_menu categ.parent categ %}
    {% else %}
    {% catalog_left_menu categ None %}
    {% endif %}
</div>
{% endblock %}


{% block bread_crumbs %}
<ul class="bread_crumbs">
    <li><a href="/">Главная</a></li>
    <li>></li>
    <li><a href="/catalog/">Каталог</a></li>
    <li>></li>
    <li><a href="/catalog/{{ categ.url }}/">{{ categ.title }}</a></li>
    <li>></li>
    <li><a class="active" href="/catalog/{{ categ.url }}/{{ video.url }}/">{{ video.title }}</a></li>
</ul>
{% endblock %}


{% block content %}
<div class="video_box">
    <div class="player">
        <img src="/{{ video.preview }}" alt=""/>
    </div>

    <div class="navigation">
        <h3>{{ video.title }}</h3>
        <ul>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Глубинные тайны</span>
                    <span class="time">3:16</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Авианосец Чудеса инженерии - National Geographic</span>
                    <span class="time">3:16</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="view_icon sprite sprite-play"></span>
                    <span class="title">Секретные материалы древности</span>
                    <span class="time">3:16</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="information">
        <div class="heading">
            <a href="/catalog/{{ categ.url }}/{{ video.url }}/"><h1>{{ video.title }}</h1></a>
            <span class="view_count">{{ video.view_count }}</span>
            <div style="clear: both"></div>
        </div>

        <div class="social">
            <ul class="social_links">
                <li>vk</li>
                <li>ok</li>
            </ul>
            <div class="karma">
                <span class="plus">12</span>
                <span class="minus">3</span>
            </div>
        </div>

        {{ video.text|safe }}

    </div>

</div>
{% endblock %}

